<h1>Deletar Produto</h1>

<div class="container">
    <div class="row">
        <div class="col-6">
            <form action="/deletar" method="POST">
                <label for="idProduto">Digite o ID do produto para deletar
                </label>
                <input type="text" name="id">
                <input type="submit" value="Enviar">
            </form>
        </div>
    </div>
</div>