<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title>
</head>
<body>
    <h1>Pagina inicial - Sistema de cadastros</h1>
    <h3>Entrar</h3>

    <form action="/login" method="POST">
        <div>
            <label for="">
                Email
            </label>
            <input type="text" name="nome" id="email">
        </div>

        <div>
            <label for="senha">Senha</label>
            <input type="password" name="senha">
        </div>
        <div>
            <input type="submit" value="Entrar">
        </div>
    </form>
</body>
</html>